.nav-image {
  width: 100px;
}

.nav-holder {
  width: 100%;
  align-self: flex-end;
}

.navbar {
  background-color: #0096FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.back-icon {
  color: #000;
  font-size: 3vh;
}

.holder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 1rem;
}

.content-holder {
  text-align: center;
}