.coin-title {
  align-items: center;
  background-color: #be3ec3;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 1px 1px 8px rgb(0 0 0 / 30%);
  color: #fff;
  display: flex;
  font-family: Gill Sans, sans-serif;
  gap: 2px;
  justify-content: center;
}

.price {
  align-items: center;
  background-color: #be3ec3;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: #fff;
}

.prices-holder {
  background-color: rgba(19, 7, 180, 0.878);
  color: #fff;
}

.price-text {
  margin: 0;
  font-size: 3vh;
  padding: 5px 0;
}
